.create {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.create label {
    font-weight: bold;
}

.create input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
}


.news.details button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .news.details button:hover {
    background-color: #c82333;
  }